# TALLER Clase 24 - Modelos lineales generalizados

Alejandro Mantilla Redondo - 201711304

Ximena Palacio Argüello - 201730995

En el paquete ISLR de R, la base de datos Default contien información sobre si las personas que piden un préstamo no pagan (hacen default) o si lo pagan completo. La variable de respuesta es `default` y se usan las variables explicativa que dicen si la persona es estudiante, el balance de la cuenta y el ingreso. Use los primeros 200 individuos.

In [1]:
library(ISLR)
datos <- ISLR::Default[1:200, ]
head(datos)

  default student balance   income
1 No      No       729.5265 44361.625
2 No      Yes      817.1804 12106.135
3 No      No      1073.5492 31767.139
4 No      No       529.2506 35704.494
5 No      No       785.6559 38463.496
6 No      Yes      919.5885  7491.559

## 1. Estime el modelo

In [2]:
modelo <- glm(default ~ ., data = datos, family = 'binomial')
summary(modelo)

Warning message:
“glm.fit: fitted probabilities numerically 0 or 1 occurred”

Call:
glm(formula = default ~ ., family = "binomial", data = datos)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-0.63297  -0.00498  -0.00001   0.00000   2.47528

Coefficients:
              Estimate Std. Error z value Pr(>|z|)
(Intercept) -2.417e+01  5.270e+03  -0.005   0.9963
studentYes   1.423e+01  5.270e+03   0.003   0.9978
balance      6.644e-03  3.779e-03   1.758   0.0788 .
income      -1.656e-04  2.724e-04  -0.608   0.5433
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 22.4006  on 199  degrees of freedom
Residual deviance:  8.5024  on 196  degrees of freedom
AIC: 16.502

Number of Fisher Scoring iterations: 22

## 2. Interprete los parámetros

## 3. ¿Es cierto que el intercepto debe ser menor a 2?

## 4. Es cierto que $\beta_1$ es 100 veces $\beta_2$?

## 5. Haga un intervalo para la probabilidad de default para un estudiante con balance 900 e ingreso 20000.