# Proyecto - Desarrollo

## Detección de la ocupación de una oficina a partir de datos de luz, temperatura, humedad y concentración de CO2, por medio del uso de modelos estadísticos lineales.

Alejandro Mantilla - 201711304

Ximena Palacio - 201730995

In [12]:
library(readr)
datos <- read_csv("Archivos/datos_entrenamiento.csv",
                  show_col_types = FALSE)
head(datos)

  id date                Temperature Humidity Light    CO2      HumidityRatio
1 1  2015-02-11 14:48:00 21.7600     31.13333 437.3333 1029.667 0.005021011
2 2  2015-02-11 14:49:00 21.7900     31.00000 437.3333 1000.000 0.005008581
3 3  2015-02-11 14:50:00 21.7675     31.12250 434.0000 1003.750 0.005021569
4 4  2015-02-11 14:51:00 21.7675     31.12250 439.0000 1009.500 0.005021569
5 5  2015-02-11 14:51:59 21.7900     31.13333 437.3333 1005.667 0.005030298
6 6  2015-02-11 14:53:00 21.7600     31.26000 437.3333 1014.333 0.005041605
  Occupancy
1 1
2 1
3 1
4 1
5 1
6 1

In [2]:
datos$DayOfWeek <- lubridate::wday(datos$date, week_start=1)
datos$WorkingDay <- as.numeric(lubridate::wday(datos$date, week_start=1) <= 5)

In [13]:
datos$HourOfDay <- lubridate::hour(datos$date)
datos$MinuteOfHour <- lubridate::minute(datos$date)

In [6]:
datos$date <- NULL

In [14]:
head(datos)

  id date                Temperature Humidity Light    CO2      HumidityRatio
1 1  2015-02-11 14:48:00 21.7600     31.13333 437.3333 1029.667 0.005021011
2 2  2015-02-11 14:49:00 21.7900     31.00000 437.3333 1000.000 0.005008581
3 3  2015-02-11 14:50:00 21.7675     31.12250 434.0000 1003.750 0.005021569
4 4  2015-02-11 14:51:00 21.7675     31.12250 439.0000 1009.500 0.005021569
5 5  2015-02-11 14:51:59 21.7900     31.13333 437.3333 1005.667 0.005030298
6 6  2015-02-11 14:53:00 21.7600     31.26000 437.3333 1014.333 0.005041605
  Occupancy HourOfDay MinuteOfHour
1 1         14        48
2 1         14        49
3 1         14        50
4 1         14        51
5 1         14        51
6 1         14        53

In [ ]:
pairs(datos,
      col = "#B04C7A")

In [ ]:
summary(datos)

In [ ]:
hist(datos$Occupancy, breaks = c(0, 0.5, 1 ),
     col = "#B04C7A",
     main = "Histograma de la ocupación.",
     xlab = "Ocupación")

In [ ]:
plot(datos$date,
     datos$Occupancy,
     ylab = "Ocupación",
     xlab = "Fecha",
     col = "#E79C82")

In [ ]:
hist(datos$Temperature,
     xlab = "Temperatura",
     col = "#D86036")

In [ ]:
boxplot(datos$Temperature ~ datos$Occupancy,
     xlab = "Ocupación",
     col = "#D86036")

In [ ]:
plot(datos$Temperature,
     datos$Occupancy,
     ylab = "Ocupación",
     xlab = "Temperatura",
     col = "#D86036")

In [ ]:
hist(datos$Humidity,
     xlab = "Humedad",
     col = "#CF2D4C")

In [ ]:
boxplot(datos$Humidity ~ datos$Occupancy,
     xlab = "Ocupación",
     col = "#CF2D4C")

In [ ]:
plot(datos$Humidity,
     datos$Occupancy,
     ylab = "Ocupación",
     xlab = "Humedad",
     col = "#CF2D4C")

In [ ]:
hist(datos$Light,
     xlab = "Intensidad de luz",
     col = "#B04C7A")

In [ ]:
boxplot(datos$Light ~ datos$Occupancy,
     xlab = "Ocupación",
     col = "#B04C7A")

In [ ]:
plot(datos$Light,
     datos$Occupancy,
     ylab = "Ocupación",
     xlab = "Intensidad de luz",
     col = "#B04C7A")

In [ ]:
hist(datos$CO2,
     xlab = "Concentración de CO2",
     col = "#623A6C")

In [ ]:
boxplot(datos$CO2 ~ datos$Occupancy,
     xlab = "Concentración de CO2",
     col = "#623A6C")

In [ ]:
plot(datos$CO2,
     datos$Occupancy,
     ylab = "Ocupación",
     xlab = "Concentración de CO2",
     col = "#623A6C")

In [ ]:
hist(datos$HumidityRatio,
     xlab = "Tasa de humedad",
     col = "#545E66")

In [ ]:
boxplot(datos$HumidityRatio ~ datos$Occupancy,
     xlab = "Tasa de humedad",
     col = "#545E66")

In [ ]:
plot(datos$HumidityRatio,
     datos$Occupancy,
     ylab = "Ocupación",
     xlab = "Tasa de humedad",
     col = "#545E66")